<ul id="videos" class="list">
    {{#videos}}
    <li>
        <a href="http://www.youtube.com/watch?v={{id}}"><img src="{{thumbnail.sqDefault}}" /></a>
        <div class="content">
            <p>{{description}}</p>
        </div>
    </li>
    {{/videos}}
</ul>